*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
svg{
    width: 100%;
}
header div{
    height: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #000b76;
    align-content: center;
}
header h3{
     color: rgba(241, 237, 237, 0.829);
     margin-top: 20px;
}
header div  a h4{
    color: rgba(241, 237, 237, 0.829);
}
header button{
    background-color: #000b76;
    border: solid 1px #1826a3ce;
    padding: 10px;
    margin-left: 30px;
}
header button:hover{
    box-shadow: #4e5aca 0px 0px 8px 2px ;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bnt{
    border: solid #000b76 2px;
    width: 40%;
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
 }
 div.bnt button{
      width: 90%;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 10px;
      cursor: pointer;
 }
 /*div.bnt #botao*---------------/

    /*PRIMEIRO BOTÃO -------------*/
 div.bnt #bnt1{
    color: white;
    background-color: #000b76;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px #01095f;
 }
    div.bnt #bnt1:hover {
    background-color: #010a57;
    box-shadow: 0px 5px #020638;
 }
        div.bnt #bnt1:active{
     position: relative;
     top: 5px;
     box-shadow: none;
 }
    /*SEGUNDO BOTÃO----------------------*/
div.bnt #bnt2{
    background-color: white;
    border: rgb(5, 105, 5) solid 2px; 
   
} 
    div.bnt #bnt2:hover{
        text-shadow: green 2px 3px 2px;
        font-size: 21px;
        transition-duration: 1s;
    }
        div.bnt #bnt2:active {
            font-size: 24px  !important;   
        }
        
/*TERCEIRO BOTÃO-----------*/
div.bnt #bnt3{
    background-color: #4e5aca;
    border-radius: 13px 3px;
    border:none;
}
    .bntNewStyles{
        background-color: #80187a !important; 
        border-radius: 3px 13px !important;
    }
/*QUARTO BOTÃO--------------------*/
div.bnt #bnt4{
    background-color: rgb(15, 146, 103);
    border: none;
    animation-name: linha;
    animation-duration: .8s;
   
}
@keyframes linha{
    from{ 
        transform: translateY(-10px);
        opacity: 0;
        
       
    }
    to{
        transform: translateY(10);
        opacity: 1;
    }
}
/*QUINTO BOTÃO-----------------------*/
div.bnt #bnt5{
    background-color: #80187a;
    border-radius: 20px 120px 20px 120px;
    border: none;

}
#bnt5:hover{
       animation-name: borda;
       animation-duration: 4s;
       animation-timing-function:ease-out;

}
@keyframes borda {
    from{
        width: 60px;
        background-color: #440541;
        transition: ease-out;
        transition-timing-function: 3s;
    }

}

/*SEXTO BOTÃO------------------------*/
div.bnt #bnt6{
    background-color: rgb(19, 121, 121);
    border: none;
    border-radius: 22px;
    

}
#bnt6:hover{
    margin-top: -3px;
    box-shadow: rgb(23, 87, 87) 3px 13px 7px;  
}

 /*SETIMO BOTÃO----------------------------------*/    
 div.bnt #bnt7{
     background-color: crimson;
     color: white;
     border: none;
     border-radius: 3px;
    }
    
 #bnt7:hover{
    animation-name: surgir;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-duration: alternate;

 }
.bnt8Animation{
    animation-name: surgir;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-duration: alternate;
}
@keyframes surgir {
    50%{
        transform:skew(4deg, -2deg);
        
    }
    100%{
       transform: skew(-4deg, 0deg);
    }
    
}
/*8 BOTÃO-------------------------*/

div.bnt #bnt8{
    background-color: violet;
    border: #ecbcea double;
    border-radius: 12px 23px ;
}
